<footer class="shadow-md-[0_-6px_12px_rgba(0,0,0,0.1)] mt-auto bg-white">
    <div class="stack-gap-2 container mx-auto items-center justify-between py-4 text-sm flex flex-col md:flex-row">
        <div class="stack-gap-2 flex-col items-center sm:items-start">
            <a href="https://wiki.tokenbel.info" class="transition-opacity hover:opacity-80">
                <img src="{{ "wiki_logo.svg" | relURL }}" alt="TokenBel Wiki" class="h-8 w-auto  rounded-lg">
            </a>
            <p class="text-sm text-gray-700">Справочные материалы по сервису TokenBel и рынку ценных бумаг Беларуси.</p>
            <p class="text-sm text-gray-700">© 2025 – 2026, <a class="active-a" href="{{ site.Params.mainSiteURL }}">TokenBel</a></p>
        </div>
        <div class="flex flex-col items-center md:flex-row" aria-label="Внешние ссылки">
            <a class="active-a inline-flex rounded-lg px-4 py-2 items-center font-semibold" href="{{ site.Params.sharesURL }}">Акции</a>
            <a class="active-a inline-flex rounded-lg px-4 py-2 items-center font-semibold" href="{{ site.Params.dashboardURL }}">Компании</a>
            <a class="active-a inline-flex rounded-lg px-4 py-2 items-center font-semibold" href="{{ site.Params.repositoryURL }}">GitHub</a>
        </div>
    </div>
</footer>
